{% extends "site/layout.njk" %}

{% block head %}
  <title>Inovarte | Loja</title>
{% endblock head %}

{% block form_filter %}
  {% include 'parts/filter.njk' %}
{% endblock form_filter %}

{% block content %}
  <main>
    <section class="container-details">
      <article class="container-details-gallery">
        <img src="/assets/images/1.jpg" class="active" onclick="ImageGallery.setImage(event)">
        <img src="/assets/images/2.jpeg" onclick="ImageGallery.setImage(event)">
        <img src="/assets/images/3.jpg" onclick="ImageGallery.setImage(event)">
        <img src="/assets/images/4.jpeg" onclick="ImageGallery.setImage(event)">
      </article>
      <article class="container-details-photo">
        <span onclick="ImageGallery.prev()" class="material-icons controls prev">keyboard_arrow_left</span>
        <img src="/assets/images/1.jpg">
        <span onclick="ImageGallery.next()" class="material-icons controls next">keyboard_arrow_right</span>
      </article>
      <article class="container-details-info">
        <header>
          <h1>Here is the title given to the product</h1>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          </p>
        </header>
        <div class="action-details">
          <p>
            Trabalhamos sob demanada, solicite seu orçamento abaixo.
          </p>
          <button class="btn primary">Solicitar orçamento agora</button>
        </div>
      </article>
    </section>
  </main>

  <section class="main-products">
    <header class="main-products-header">
      <h1>
        Você tambem pode gostar
      </h1>
      {# <p>Aqui você encontra nossos produtos mais recentes.</p> #}
    </header>

    <article class="main-products-card">
      <div>
        <img src="/assets/images/1.jpg">
      </div>
      <h2>Product Name</h2>
      <div class="main-products-content">
        <p>Details product, width, height and weight</p>
        <p>Details product, width, height and weight</p>
        <p>Details product, width, height and weight</p>
        <div class="action-products-card">
          <a href="/product-details" class="button secondary">Detalhes</a>
          <button class="primary">Orçamento</button>
        </div>
      </div>
    </article>

    <article class="main-products-card">
      <div>
        <img src="/assets/images/2.jpeg">
      </div>
      <h2>Product Name</h2>
      <div class="main-products-content">
        <p>Details product, width, height and weight</p>
        <p>Details product, width, height and weight</p>
        <p>Details product, width, height and weight</p>
        <div class="action-products-card">
          <a href="/product-details" class="button secondary">Detalhes</a>
          <button class="primary">Orçamento</button>
        </div>
      </div>
    </article>

    <article class="main-products-card">
      <div>
        <img src="/assets/images/3.jpeg">
      </div>
      <h2>Product Name</h2>
      <div class="main-products-content">
        <p>Details product, width, height and weight</p>
        <p>Details product, width, height and weight</p>
        <p>Details product, width, height and weight</p>
        <div class="action-products-card">
          <a href="/product-details" class="button secondary">Detalhes</a>
          <button class="primary">Orçamento</button>
        </div>
      </div>
    </article>

    <article class="main-products-card">
      <div>
        <img src="/assets/images/4.jpeg">
      </div>
      <h2>Product Name</h2>
      <div class="main-products-content">
        <p>Details product, width, height and weight</p>
        <p>Details product, width, height and weight</p>
        <p>Details product, width, height and weight</p>
        <div class="action-products-card">
          <a href="/product-details" class="button secondary">Detalhes</a>
          <button class="primary">Orçamento</button>
        </div>
      </div>
    </article>
  </section>
{% endblock content %}