<nav class="mobile-menu ds-none">
  <ul>
    <li>
      <a href="/">
        <i class="material-icons">home</i>
        Início
      </a>
    </li>
    <li>
      <a href="/products">
        <i class="material-icons">shopping_basket</i>
        Produtos
      </a>
    </li>
    <li>
      <a href="/catalog">
        <i class="material-icons">assignment</i>
        Catalogo de Porcelanatos
      </a>
    </li>
    <li>
      <a href="/about">
        <i class="material-icons">info</i>
        Quem Somos
      </a>
    </li>
    <li>
      <a href="/login">
        <i class="material-icons">account_circle</i>
        <p>
          <span>Faça seu login</span>
          <span>ou cadastre-se</span>
        </p>
      </a>
    </li>
  </ul>
</nav>